@value backgroundGray from '/styles/colors.css';

.container {
    display: flex;
    flex-direction: column;
    background-color: backgroundGray;
    padding-bottom : 4rem;
    color: black;
}

.wrapper {
    margin-bottom: 1.5em;
}